@model Login
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<div class="container-fluid maincontainer">

    <div class="container loginWelcomeTitleContainer">
        <h1 id="mainTitle">Welcome to Chill's Restaurant</h1>
    </div>

    <div class="row justify-content-center">
        
        <section id="form-section" class="col-md-6">

            <h3 id="form-title">Login</h3>

            <hr />

            @if (TempData["SignUpConfirm"] != null)
            {
                <div class="container alert alert-success d-flex justify-content-between" role="alert">
                    @TempData["SignUpConfirm"]
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="container alert alert-danger d-flex justify-content-between" role="alert">
                    <ul>
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(e => e.Errors))
                        {
                            <li>@error.ErrorMessage</li>
                        }
                    </ul>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            @if (TempData["UserEmail"] != null)
            {
                <div class="container alert alert-warning d-flex justify-content-between" role="alert">
                    <p>
                        Please confirm your email: <a href="@Url.Action("ConfirmAccountLink", "Account", new { email = TempData["UserEmail"] })">Confirm here</a>
                    </p>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

           

            <form id="Account" method="post">
                <div class="mb-3">
                    <label asp-for="@Model.UserName" class="form-label">Username</label>
                    <input asp-for="@Model.UserName"
                           class="form-control"
                           type="text"
                           autofocus
                           autocomplete="off"
                           aria-required="true"
                           placeholder="username" />
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Password" class="form-label">Password</label>
                    <input asp-for="@Model.Password"
                           class="form-control"
                           type="password"
                           autocomplete="off"
                           aria-required="true"
                           placeholder="password" />
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mb-3">Log in</button>
                </div>
                <div>
                    <a href="@Url.Action("SignUp", "Account")">Don't have an account? Create one here!</a>
                </div>
            </form>
        </section>
    </div>
</div>
