@{
    ViewData["Title"] = "Home Page";
}


<section class="menu-section">
    <h2>Variety Of Burgers</h2>
        
    <div class="row mt-4">
        @foreach (var burger in ViewBag.ListOfBurgers)
        {
            <div class="col">
                <div class="card container" style="width: 20rem;">
                    <img src="~/images/Comida/@burger.Photo" class="card-img-top" alt="...">
                    <div class="card-body menu-item">
                        <h5 class="card-title">@burger.Name</h5>
                        <p class="card-text">@burger.Description</p>
                        <p class="card-text">@burger.Price</p>
                        <a asp-controller="Orders" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@*<section class="menu-section">

    <h2>Variety Of Pasta</h2>

    <div class="row">
        @foreach (var pasta in ViewBag.ListOfPasta)
        {
            <div class="col">
                <div class="menu-item">
                    <img src="~/images/Comida/@pasta.Photo" alt="@pasta.Name">
                    <h3>@pasta.Name</h3>
                    <p>@pasta.Description</p>
                    <center><span>$@pasta.Price</span></center>

                    <button class="add-to-cart-button">Agregar al carrito</button>
                </div>
            </div>
        }
    </div>

</section>



<section class="menu-section">

    <h2>Variety Of Desserts</h2>
    <div class="row">
        @foreach (var dessert in ViewBag.ListOfDesserts)
        {
            <div class="col">
                <div class="menu-item">
                <img src="~/images/Comida/@dessert.Photo" alt="@dessert.Name">
                <h3>@dessert.Name</h3>
                <p>@dessert.Description</p>
                <center><span>$@dessert.Price</span></center>

                <button class="add-to-cart-button">Agregar al carrito</button>
                </div>
            </div>
        }
    </div>
    

</section>*@

