@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <section class="menu-section">
        <h2>Variety Of Burgers</h2>

        <div class="row row-cols-1 row-cols-md-6 g-4 mt-2 mb-3">
            @foreach(var burger in ViewBag.ListOfBurgers)
            {
                <div class="col">
                    <div class="card mx-auto h-100">
                        <img src="~/images/Comida/@burger.Photo" class="card-img-top" alt="...">
                        <div class="card-body menu-item">
                            <h5 class="card-title">@burger.Name</h5>
                            <p class="card-text">@burger.Description</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text">$@burger.Price</p>
                            <a asp-controller="Orders" asp-action="Index" class="btn btn-success d-grid">Add to Order</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
    
    <section class="menu-section">
        <h2>Variety Of Pasta</h2>

        <div class="row row-cols-1 row-cols-md-6 g-4 mt-2 mb-3">
            @foreach(var pasta in ViewBag.ListOfPasta)
            {
                <div class="col">
                    <div class="card mx-auto h-100">
                        <img src="~/images/Comida/@pasta.Photo" class="card-img-top" alt="...">
                        <div class="card-body menu-item">
                            <h5 class="card-title">@pasta.Name</h5>
                            <p class="card-text">@pasta.Description</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text">$@pasta.Price</p>
                            <a asp-controller="Orders" asp-action="Index" class="btn btn-success d-grid">Add to Order</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
    
    <section class="menu-section">
        <h2>Variety Of Desserts</h2>

        <div class="row row-cols-1 row-cols-md-6 g-4 mt-2 mb-3">
            @foreach(var dessert in ViewBag.ListOfDesserts)
            {
                <div class="col">
                    <div class="card mx-auto h-100">
                        <img src="~/images/Comida/@dessert.Photo" class="card-img-top" alt="...">
                        <div class="card-body menu-item">
                            <h5 class="card-title">@dessert.Name</h5>
                            <p class="card-text">@dessert.Description</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text">$@dessert.Price</p>
                            <a asp-controller="Orders" asp-action="Index" class="btn btn-success d-grid">Add to Order</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>
