@using ChillsRestaurant.Models.ViewModels
@model AccountsManagementModel
@{
    ViewData["Title"] = "Accounts Management";
}

<div class="container-fluid">

    <div class="container d-flex justify-content-between">
        <h3>Accounts</h3>
        <div>
            <a class="btn btn-primary" asp-action="CreateAccount">Create Account</a>
            <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Return</a>
        </div>
    </div>
    <hr />

    <div class="container">
        @if (TempData["CreateAccountSuccess"] != null)
        {
            <div class="container alert alert-success d-flex justify-content-between" role="alert">
                @TempData["CreateAccountSuccess"]Success
                <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-light">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Photo</th>
                        <th scope="col">Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Role</th>
                        <th scope="col">More Info</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model.Users)
                    {
                        <tr class="text-center">
                            <td>
                                <img src="~/images/profileAvatars/@employee.Photo" class="img-fluid rounded-circle profile-img me-1"></td>
                            <td>@employee.Name</td>
                            <td>@employee.UserName</td>
                            <td>@employee.Role</td>
                            <td><a href="@Url.Action("MoreInfo","Manager", new{ username = employee.UserName })">More Info</a></td>
                            <td>Delete | Edit </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>