@using ChillsRestaurant.Models.ViewModels.Manager;
@model EditMenuItem
@{
    ViewData["Title"] = "Editing Menu Item";
}


<div class="container-fluid">
    <div class="container mt-4">
        <h3 id="MainTitle">Editing Item</h3>
    </div>

    <section>
        <div class="container">
            <form asp-action="EditMenuItem" asp-controller="Manager" method="post">
                <div class="row">
                    <!-- Informacion del item -->
                    <div class="col-md-8">
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="container alert alert-danger d-flex justify-content-between" role="alert">
                                <ul>
                                    @foreach (var error in ViewData.ModelState.Values.SelectMany(e => e.Errors))
                                    {
                                        <li>@error.ErrorMessage</li>
                                    }
                                </ul>
                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <div class="form-group mb-3">
                                    <label asp-for="Category" class="form-label">Select the category<span class="text-danger">*</span></label>
                                    <select asp-for="Category" onchange="selectCategory(this)" class="form-control">
                                        @foreach (var category in ViewBag.ItemsCategory)
                                        {
                                            <option value="@category">@category</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="Name" class="form-label">Name<span class="text-danger">*</span></label>
                                    <input asp-for="Name"
                                           type="text"
                                           class="form-control"
                                           id="nameInput"
                                           placeholder="Name" />
                                </div>
                            </div>
                            <div class="col-md-6 mt-2">
                                <div class="form-group mb-3">
                                    <label asp-for="Price" class="form-label">Price<span class="text-danger">*</span></label>
                                    <input asp-for="Price"
                                           type="number"
                                           step="0.01"
                                           class="form-control"
                                           id="priceInput"
                                           placeholder="0.00" />
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="Description" class="form-label">Description<span class="text-danger">*</span></label>
                                    <input asp-for="Description"
                                           type="text"
                                           class="form-control"
                                           id="nameInput"
                                           placeholder="Description" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Seleccionar la foto de perfil -->
                    <div class="col-md-4">
                        <div class="text-center">
                            <img src="~/images/Comida/@Model.Photo" class="profileavatar-img" id="defaultItemImage" />
                            <h5>Item Photo</h5>
                        </div>
                        <hr />
                        <div class="mt-4 mb-3">

                            <p class="select-image-message">Select a category to view the images<span class="text-danger">*</span></p>

                            <div class="row food-images burgers-images">
                                @foreach (var burgerPhoto in ViewBag.BurgersImages)
                                {
                                    <div class="col-4 mb-2 text-center">
                                        <label class="form-check-label">
                                            <input class="form-check-input visually-hidden"
                                                   type="radio"
                                                   asp-for="@Model.Photo"
                                                   id="@burgerPhoto"
                                                   value="@burgerPhoto" />
                                            <img src="~/images/Comida/@burgerPhoto"
                                                 class="profileavatar-img"
                                                 data-value="@burgerPhoto"
                                                 onclick="selectImage(this)" />
                                        </label>
                                    </div>
                                }
                            </div>

                            <div class="row food-images pastas-images">
                                @foreach (var pastaImage in ViewBag.PastasImages)
                                {
                                    <div class="col-4 mb-2 text-center">
                                        <label class="form-check-label">
                                            <input class="form-check-input visually-hidden"
                                                   type="radio"
                                                   asp-for="@Model.Photo"
                                                   id="@pastaImage"
                                                   value="@pastaImage" />
                                            <img src="~/images/Comida/@pastaImage"
                                                 class="profileavatar-img"
                                                 data-value="@pastaImage"
                                                 onclick="selectImage(this)" />
                                        </label>
                                    </div>
                                }
                            </div>

                            <div class="row food-images desserts-images">
                                @foreach (var dessertImage in ViewBag.DessertsImages)
                                {
                                    <div class="col-4 mb-2 text-center">
                                        <label class="form-check-label">
                                            <input class="form-check-input visually-hidden"
                                                   type="radio"
                                                   asp-for="@Model.Photo"
                                                   id="@dessertImage"
                                                   value="@dessertImage" />
                                            <img src="~/images/Comida/@dessertImage"
                                                 class="profileavatar-img"
                                                 data-value="@dessertImage"
                                                 onclick="selectImage(this)" />
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <input asp-for="Id" readonly hidden/>

                    <button type="submit" class="mt-4 mb-3 btn btn-primary">Edit Item</button>
                    <button type="reset" class="btn btn-warning mb-3" id="btnClear" onclick="resetAll()">Clear</button>
                    <a class="btn btn-primary mb-3" asp-action="Index" asp-controller="Home">Return</a>

                </div>
            </form>
        </div>
    </section>
</div>

@section Scripts{
    <script src="~/js/CreateMenuItems.js"></script>
}